- if current_user && current_user.lunchesadmin?
	%h3 Weekday:
	%strong= @sunday.name_of_the_dish
	%p= @sunday.description
	%p= @sunday.price

	=link_to 'Edit', edit_weekdays_sunday_path(@sunday), class: 'btn btn-success'

	=link_to 'Back', weekdays_sundays_path, class: 'btn btn-success'

	=link_to 'Destroy', weekdays_sunday_path(@sunday, class: 'btn btn-success', method: :delete, data: { confirm: 'Are you sure?' }