- if current_user && current_user.lunchesadmin?
	%h3 Weekday:
	%strong= @wednesday.name_of_the_dish
	%p= @wednesday.description
	%p= @wednesday.price

	=link_to 'Edit', edit_weekdays_wednesday_path(@wednesday), class: 'btn btn-success'

	=link_to 'Back', weekdays_wednesdays_path, class: 'btn btn-success'

	=link_to 'Destroy', weekdays_wednesday_path(@wednesday), class: 'btn btn-success', method: :delete, data: { confirm: 'Are you sure?' }