- if current_user && current_user.lunchesadmin?
	%h3 Weekday:
	%strong= @monday.name_of_the_dish
	%p= @monday.description
	%p= @monday.price

	=link_to 'Edit', edit_weekdays_monday_path(@monday), class: 'btn btn-success'

	=link_to 'Back', weekdays_mondays_path, class: 'btn btn-success'

	=link_to 'Destroy', weekdays_monday_path(@monday), class: 'btn btn-success', method: :delete, data: { confirm: 'Are you sure?' }